#views-exposed-form-courses-page-1 {
    padding: 5px 14px;
}

#views-exposed-form-courses-page-1 label {
    color: #BB442E;
    display: block;
    font-size: 125%;
    font-weight: normal;
    margin: 3px 0;
}

#views-exposed-form-courses-page-1 input[type="text"], #views-exposed-form-courses-page-1 select, #block-views--exp-og-page_1 input[type="text"] {
    height: 22px !important;
    margin: 5px 0;
    padding: 2px;
    width: 250px;
}

#views-exposed-form-courses-page-1 input[type="submit"] {
    background: -moz-linear-gradient(center top , #8DB6D9 0px, #6CA0CF 3px, #588FC3) repeat scroll 0 0 transparent;
    border-color: #6098CB #6298CA #5284B5 #5E94C6;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    color: white;
    cursor: pointer;
    font-size: 115%;
    height: 38px;
    margin-top: 5px;
    padding: 0 2em;
    text-transform: uppercase;
}
/* Groups Directory */
.view-og .view-header h1,
.start-group .form-title,
.view-courses .view-header h1{
	background: url("images/ac-mid1.gif") repeat-x scroll center bottom #E8F0F5;
    color: #330000;
    font-size: 26px;
    font-weight: bold;
    line-height: 130%;
    margin-bottom: 10px;
    padding: 13px 10px 16px;
    position: relative;
}

.view-og .view-header .og-directory-links ul,
.view-courses .view-header .og-directory-links ul {
  float: right;
  margin: 0.75em 1em;
}
.view-og .view-header .og-directory-links ul li,
.view-courses .view-header .og-directory-links ul li {
  display: inline-block;
  list-style: none;
  background-image: none;
  background-position: left;
  background-repeat: no-repeat;
  min-height: 22px;
  font-size: 120%;
  font-weight: bold;
  margin-left: 18px;
  padding-left: 24px;
  padding-bottom: 0;
  padding-top: 0px;
}
.view-og .view-header .og-directory-links #og-directory-links-my-groups,
.view-courses .view-header .og-directory-links #og-directory-links-my-groups{
  background-image: url('images/og-my-groups.png');
}
.view-og .view-header .og-directory-links #og-directory-links-start-group,
.view-courses .view-header .og-directory-links #og-directory-links-start-group{
  background-image: url('images/og-start-group.png');
}
.view-og .view-header .og-directory-links a:link,
.view-courses .view-header .og-directory-links a:link{
  color: #395998;
  text-decoration: none;
  vertical-align: -25%;
}
.view-og .view-header .og-directory-links a:hover,
.view-courses .view-header .og-directory-links a:hover{
  color: initial;
  color: #000;
}
.view-og .views-row-last .views-field-description {
  margin-bottom: 28px;
}
.view-og .view-content .views-field-description .desc p {
  color: #000;
  margin-bottom: 1em !important;
}

#block-views--exp-og-page .content,
#block-views--exp-og-page_1 .content{
  padding: 5px 14px;
}
#block-views--exp-og-page .views-exposed-widgets,
#block-views--exp-og-page_1 .views-exposed-widgets{
  margin-bottom: 0;
}
#block-views--exp-og-page label,
#block-views--exp-og-page_1 label{
  color: #BB442E;
  font-size: 125%;
  font-weight: bold;
  display: block;
  margin: 3px 0;
}
#block-views--exp-og-page input[type="text"],
#block-views--exp-og-page select,
#block-views--exp-og-page_1 input[type="text"],
#block-views--exp-og-page_1 select{
  width: 250px;
  padding: 2px;
  height: 22px !important;
  margin: 5px 0 5px 0;
}
#block-views--exp-og-page select,
#block-views--exp-og-page_1 select{
  height: 28px !important;
}
#block-views--exp-og-page input[type="submit"],
#block-views--exp-og-page_1 input[type="submit"]{
    background: #83AFD6;
    background: -moz-linear-gradient(center top , #8DB6D9 0px, #6CA0CF 3px, #588FC3) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(top , #8DB6D9 0px, #6CA0CF 3px, #588FC3);
    background: -o-linear-gradient(top , #8DB6D9 0px, #6CA0CF 3px, #588FC3);
    background: -ms-linear-gradient(top , #8DB6D9 0px, #6CA0CF 3px, #588FC3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8DB6D9', endColorstr='#588FC3', GradientType=0);
    background: -linear-gradient(top , #8DB6D9 0px, #6CA0CF 3px, #588FC3);
    
    border-color: #6098CB #6298CA #5284B5 #5E94C6;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    color: white;
    cursor: pointer;
    font-size: 120%;
    height: 38px;
    margin-top: 5px;
    padding: 0 2em;
    text-transform: none;
}
#block-views--exp-og-page input[type="submit"]:hover,
#block-views--exp-og-page_1 input[type="submit"]:hover{
  border-left-color: #6C9ECB;
  border-right-color: #6C9ECB;
  background: #83AFD6;
  background: -webkit-linear-gradient(top, #8DB6D9 0, #6FA2D0 3px, #83AFD6 8px, #71A3D0);
  background: -moz-linear-gradient(top, #8DB6D9 0, #6FA2D0 3px, #83AFD6 8px, #71A3D0);
  background: -o-linear-gradient(top, #8DB6D9 0, #6FA2D0 3px, #83AFD6 8px, #71A3D0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#83AFD6', endColorstr='#71A3D0', GradientType=0);
  background: -ms-linear-gradient(top, #8DB6D9 0, #6FA2D0 3px, #83AFD6 8px, #71A3D0);
  background: -linear-gradient(top, #8DB6D9 0, #6FA2D0 3px, #83AFD6 8px, #71A3D0);
}

#sidebar-right #block-views--exp-og-page_1.block-views .content {
    border-bottom: 1px solid #DFDFDF;
    border-radius: 0 0 5px 5px;
}

/* Start a Blog */
.contentPage .filefield-upload .form-submit:hover {
  background-position: -76px 0;
}

/* Discussion form */
.og-nodeapi-fieldset {
  display: none;
}


/* Start a Group */
.notHomePage .right-corner .left-corner {
  padding-bottom: 0;
}
.contentPage .btnDiv.wbutton {
  margin: 0;
}
.start-group {
  margin: 0;
  padding: 0;
}
.contentPage #node-form .contentPageLeft.start-group .innr {
  border-top: 1px solid white;
  border-left: 1px solid white;
  padding-top: 25px;
  padding-right: 12px;
}
.contentPage #node-form .contentPageLeft.start-group .innr .lightBlueRR {
  margin: 0 0 30px 0;
}
.contentPage #node-form .contentPageLeft.start-group .innr .lightBlueRR .form-item {
  margin: 0;
}
.contentPage #node-form .contentPageLeft.start-group .innr .lightBlueRR .form-item label {
  text-align: right;
  font-size: 125%;
  padding: 6px 0 0;
  width: 120px;
}
.contentPage #node-form .contentPageLeft.start-group .innr .lightBlueRR .form-item .form-text,
.contentPage #node-form .contentPageLeft.start-group .innr .lightBlueRR .form-item .form-select {
  margin-left: 9px;
}
.contentPage #node-form .contentPageLeft.start-group .innr .lightBlueRR .form-item .form-select{
  width: 310px !important;
}
.contentPage #node-form .contentPageLeft.start-group .innr .lightBlueRR .form-item .form-text {
  width: 500px;
}
.contentPage #node-form .contentPageLeft.start-group .logo-upload .your-logo, 
.contentPage #node-form .contentPageLeft.start-group .descipline .desc {
  margin-bottom: 0;
  margin-left: 129px;
}
.contentPage #node-form .contentPageLeft.start-group .descipline label,
.contentPage #node-form .contentPageLeft.start-group #edit-field-group-logo-0-upload-wrapper label, 
.contentPage #node-form .contentPageLeft.start-group #edit-field-group-description-0-value-wrapper label {
  margin-top: 0;
}
.contentPage #node-form .contentPageLeft.start-group .logo-upload .filefield-element {
  margin-left: 129px;
}
.contentPage #node-form .contentPageLeft.start-group .logo-upload .filefield-element .widget-edit {
  max-width: none;
}
#node-form .start-group #edit-field-group-logo-0-upload-wrapper .filefield-upload {
  width: 519px;
}
#node-form .start-group #edit-field-group-logo-0-upload-wrapper .form-item .description {
  display: none;
}
.contentPage #node-form .contentPageLeft.start-group .logo-upload .form-item .description {
  margin-left: 188px;
}
.contentPage #node-form .contentPageLeft.start-group .img {
  padding-left: 127px;
  margin-top: -6px;
}
.contentPage #node-form .contentPageLeft.start-group #edit-field-acknowledge-checkbox-value-wrapper/*,*/
/*.contentPage #node-form .contentPageLeft.start-group #edit-field-group-type-value-wrapper*/ {
  margin-bottom: 30px;
}
.contentPage #node-form .contentPageLeft.start-group #edit-field-acknowledge-checkbox-value-wrapper label {
  padding-top: 10px;
  width: 459px;
  text-align: left;
  padding-left: 10px;
  font-size: 100%;
}
.contentPage #node-form .contentPageLeft.start-group #edit-field-group-type-value-wrapper label {
  padding-top: 2px;
}
.contentPage #node-form .contentPageLeft.start-group /*#edit-field-group-type-value-wrapper*/ select {
  /*height: 22px;
  padding: 3px 2px 3px 3px;*/
}
.contentPage #node-form .contentPageLeft.start-group .hierarchical-select-wrapper-wrapper {
  padding: 0;
}
.contentPage #node-form .contentPageLeft.start-group .hierarchical-select {
  margin: 0;
}
.contentPage #node-form .contentPageLeft.start-group #edit-field-group-type-value,
.contentPage #node-form .contentPageLeft.start-group #edit-taxonomy-2-hierarchical-select-selects-0 {
  width: 15.5em;
}
.contentPage #node-form .contentPageLeft.start-group .descipline .hierarchical-select-wrapper {
  padding-top: 10px;
}
.contentPage #node-form .contentPageLeft.start-group .descipline:first-child,
.contentPage #node-form .contentPageLeft.start-group #edit-og-description-wrapper {
  margin-bottom: 30px;
}
.contentPage #node-form .contentPageLeft.start-group .desappear {
  margin-left: 129px;
  margin-bottom: 0px;
}
.contentPage #node-form .contentPageLeft.start-group .resizable-textarea {
  padding: 10px 0 0;
}
.contentPage #node-form .contentPageLeft.start-group .resizable-textarea textarea {
  width: 510px;
  margin-left: 129px;
  font-family: Arial,Helvetica,sans-serif;
}
.contentPage #node-form .contentPageLeft.start-group #edit-field-group-description-0-value-wrapper {
  margin-bottom: 30px;
}
.contentPage #node-form .contentPageLeft.start-group .thisadmin {
  margin-left: 129px;
  margin-bottom: -16px;
}
.contentPage #node-form .contentPageLeft.start-group .content-multiple-table th {
  padding-right: 0 !important;
  font-size: 14px;
  width: 120px;
}
.contentPage #node-form .contentPageLeft.start-group .form-radios label {
  margin-left: 18px;
  width: 513px !important;
  text-align: left !important;
  font-size: 100% !important;
}

#sidebar-right .og-start-group-links-block {
  border: 1px solid #DFDFDF;
  border-radius: 5px;
}
#sidebar-right .og-start-group-links-block ul {
  padding: 0;
}
#sidebar-right .og-start-group-links-block li {
  border-bottom: 1px solid #DFDFDF;
  padding: 1em 0.75em 1em 43px;
  margin: 0;
  background-image: none;
  background-position: 9px center;
  background-repeat: no-repeat;
  list-style: none;
  font-size: 130%;
  font-weight: bold;
}
#sidebar-right .og-start-group-links-block li:last-child {
  border-bottom: 0;
}
#sidebar-right .og-start-group-links-block li#og-directory-links-browse-groups {
  background-image: url('images/og-browse-groups-30.png');
}
#sidebar-right .og-start-group-links-block li#og-directory-links-my-groups {
  background-image: url('images/og-my-groups-30.png');
}

/* Group/Blog Profiles */

#wrapper #container .groups .right-corner .left-corner {
  padding-left: 0 !important;
}
.direc-group .img {
  min-width: 103px;
  min-height: 100px;
  margin-left: 10px;
}
.groups #block-formblock-discussions,
.blog #block-formblock-blog_post {
  background-color: #f0f0f0;
  padding-top: 10px;
  margin-bottom: 3em;
}
.groups #block-formblock-discussions #discussion_form .innr,
.blog #block-formblock-blog_post #blog_post_form .innr {
  margin-left: 0;
  padding: 10px;
}
.groups #block-formblock-discussions h2,
.blog #block-formblock-blog_post h2 {
  margin: 0 10px;
  background-color: #333;
  color: white;
  display: inline-block;
  position: relative;
  padding: 3px 10px;
  border-radius: 5px;
}
.groups #block-formblock-discussions h2:after,
.blog #block-formblock-blog_post h2:after {
  content: " ";
  display: block;
  position: absolute;
  top: 28px;
  left: 50%;
  width: 0;
  height: 0;
  margin: 0 0 0 -9px;
  padding: 0;
  border-color: #333 transparent transparent transparent;
  border-style: solid;
  border-width: 9px;
  font: 0/0 serif;
  _border-left-color: pink;
  _border-bottom-color: pink;
  _border-right-color: pink;
  _filter: chroma(color=pink);
}
.view-og-ghp-ron .views-row {
  margin-left: 0;
}
body.path-node-add-groups #block-formblock-discussions,
body.path-node-add-blog_post #block-formblock-blog_post {
  display: none;
}
.blog #block-formblock-blog_post .form-submit,
.blog_post #comment-form .form-submit.comment_submit_button {
  background: url("images/postcussion.png") no-repeat scroll -64px 0 transparent;
  width: 62px;
  height: 27px;
  float: right;
  text-indent: -99999px;
  cursor: pointer;
  border: none;
}
.blog #block-formblock-blog_post .form-submit:hover,
.blog_post #comment-form .form-submit.comment_submit_button:hover {
   background-position: -1px 0;
}

/* comments */
.node.full-group .Ccomment {
  margin-left: 70px;
}
#comments {
  margin-left: 10px;
  padding-left: 0;
}
.comment {
  padding-left: 0;
  background: none;
  border: 0;
  border-bottom: 1px solid #DBDFD7;
}
.comment .conte,
.comment .time_link span {
  color: #395998;
}

.full-group .text {
  width: 485px;
}

/* Flags */
.followin-group .flag-follow a {
  background: url('images/akg_follow.png') no-repeat;
  width: 65px;
  height: 30px;
  display: block;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
}
#sidebar-right .flag-follow-blog a {
  background: url('images/hai_blog_profile_final.png') no-repeat;
  width: 140px;
  height: 32px;
  font-size: 0;
  text-indent: -9999px;
  display: block;
  border: none;
  cursor: pointer;
}
#sidebar-right .flag-follow-blog a:hover {
    background-position: -140px 0;
}

#sidebar-right a.unflag-action {
    background: url("images/akf_unfollow.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 31px;
    text-indent: -9999px;
    width: 84px;
}

#sidebar-right a.unflag-action:hover {
    background: url("images/akf_unfollow.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 31px;
    text-indent: -9999px;
    width: 84px;
}


/*
**  Views
*/
.view-id-Followers .view-content h3 {
  display: none;
}
.view-id-Followers.view-display-id-block_1 .view-content table,
.view-id-members.view-display-id-block_1 .view-content table,
.view-id-member_requests.view-display-id-block_1 .view-content table,
.view-member-blogger.view-id-member_blogger .view-content table {
  display: table !important;
}
.view-member-blogger.view-id-member_blogger .view-content table {
  margin-left: 3px;
}
.all-bloggers-page h3 {
  color: #333;
  font: bold 16px Arial,Helvetica,sans-serif;
  padding: 10px 0 0 10px;
}
.view.all-bloggers-page table tbody td {
  text-align: center;
  padding: 10px 0;
  width: 165px;
  vertical-align: top;
}
.view.all-bloggers-page table tbody td .views-field-name {
  margin: 5px 0;
}
.view.all-bloggers-page table tbody td .views-field-name a {
  font-weight: bold;
  text-transform: uppercase;
}
.view.all-bloggers-page table tbody td .views-field-nothing {
    width: 114px;
    margin: 0 auto;
}
.view.all-bloggers-page table tbody td .views-field-nothing a {
    background: url("images/follow.png") no-repeat;
    width: 114px;
    height: 34px;
    font-size: 0;
    text-indent: -9999px;
    display: block;
    cursor: pointer;
}
.view.all-bloggers-page table tbody td .views-field-nothing a:hover {
    background-position: -123px 0;
}
.view-id-Followers.view-display-id-block_1 .view-content table td,
.view-id-members.view-display-id-block_1 .view-content table td {
  width: 18%;
}
.view-id-Followers.view-display-id-block_1 .view-content table td:first-child,
.view-id-members.view-display-id-block_1 .view-content table td:first-child {
  padding-left: 5px;
}
.view-id-member_requests .views-field-managelink a {
  display: inline-block;
  text-indent: -3000px;
  height: 30px;
  width: 26px;
}
.view-id-member_requests .views-field-managelink a:first-child {
  background: url('images/approve.jpg') no-repeat center center;
}
.view-id-member_requests .views-field-managelink a:last-child {
  background: url('images/reject.jpg') no-repeat center center;
}
.view-id-member_requests.view-display-id-block_1 .view-content table th, 
.view-id-member_requests.view-display-id-block_1 .view-content table tr {
  border: none !important;
  background: none !important;
}
.view-id-member_requests.view-display-id-block_1 .view-content table td {
  padding: 3px;
  width: 55px;
}
.view-id-member_requests.view-display-id-block_1 .view-content table td.views-field-field-last-name-value {
  width: 160px;
}
.view-id-member_requests.view-display-id-block_1 .view-content table {
  margin: 0;
}
.view-og .views-field-subscribe a:hover {
  background: url("images/join_hover.png") no-repeat scroll 0 0 transparent;
}

/* groups functionality */
.join-group-wrapper {
  float: right;
  padding: 0 !important;
  margin: 0 !important;
}
a.join-group-link {
  background: url('images/join_group.jpg') no-repeat center center;
  display: block;
  text-indent: -3000px;
  width: 150px;
  height: 40px;
  margin-right: 10px;
}
a.join-group-link:hover {
  background: url('images/join_group_hover.jpg') no-repeat center center;
} 
.direc-group .socail li.moderated-group {
  background: url("images/open-group.png") no-repeat scroll 0 -3px transparent;
}
.direc-group .socail li.invite-only-group {
  background: url("images/open-group.png") no-repeat scroll 0 -3px transparent;
}
.direc-group .socail li.closed-group {
  background: url("images/akn_closed_group.png") no-repeat scroll 0 0 transparent;
}
.group-message {
  font-size: 160%;
  color: #CF463D;
  font-weight: bold;
  padding: 0 15px;
}
.group_desc{
  padding: 0 15px;
}
.path_node_add .contentPage .start-group #field_group_admins_values div.form-item {
    padding-bottom: 5px;
}
.start-group .content-add-more {
	width: 502px;
}
.hierarchical-select-wrapper-processed .selects{
	width: 330px;
	overflow: hidden;
}
.node-blog .right h2 {
    font-size: 26px;
}
.node-blog .right a {
    font-size: 16px;
    font-weight: bold;
}
.blog .main_content .block {
    border-top: 4px solid #87addc;
    padding-top: 20px;
}