body{ background:#FFF; font-size:12px; font-family:Arial,Helvetica,sans-serif;color:#6E6E6E; line-height:normal}

*{ margin:0; padding:0 }


input {
  color: #494949;
  font-size: 13px;
  height: 17px;
  line-height: 18px;
  padding: 4px;
  border: 1px solid #AFAFAF;
  border-radius: 3px;
}

input[type=button],
input[type=file]{
  height: auto;
}

select {
	border: 1px solid #AFAFAF;
    color: #494949;
    font-size: 13px;
    height: 27px !important;
    line-height: 18px;
    padding: 4px;
    border-radius: 3px;
}

textarea {
  line-height: 18px;
  font-size: 13px;
  color: #494949;
  border-radius: 3px;
  border: 1px solid #AFAFAF;
  padding: 4px;
}

input.form-checkbox {
  float: left;
  margin-right: 5px;
}

.form-item {
    overflow: hidden;
}

html.js input.form-autocomplete {
    background-position: 100% 7px;
}

html.js input.throbbing {
  background-position: 100% -13px; /* LTR */
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

h1 {
  font-size: 170%;
}

h2 {
  font-size: 160%;
  line-height: 130%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}

ul, quote, code, fieldset {
  margin: .5em 0;
}

p {
  margin: 0.6em 0 1.2em;
  padding: 0;
}

a:hover, a:focus{ outline:none}
a:link, a:visited{color:#395998;text-decoration:none;}
a:hover {
  color: #000;
}

a:active, a.active {
  color: #5895be;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

ul {
  margin: 0.5em 0 1em;
  padding: 0;
}

ol {
  margin: 0.75em 0 1.25em;
  padding: 0;
}

ol li, ul li {
  margin: 0.4em 0 0.4em .5em; /* LTR */
}

/*
Actual was only this one, I divided into two - 
ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em;
  padding: 0;
}
*/

ul.menu {
  margin: 0.35em 0 0 -0.5em; /* LTR */
  padding: 0;
}

.item-list ul {
  margin: 0.35em 0 0.5em -0.5em; /* LTR */
  padding: 0;
}

ul.menu ul, .item-list ul ul {
  margin-left: 0em; /* LTR */
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em; /* LTR */
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1.5em;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em; /* LTR */
}

ol li {
  padding: 0 0 .3em;
  margin-left: 2em; /* LTR */
}

ul li.expanded {
  background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em; /* LTR */
}

ul li.collapsed {
  background: transparent url(images/menu-collapsed.gif) no-repeat 0px .35em; /* LTR */
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}

ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0; /* LTR */
}

ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li {
  padding: 0.5em 1em 0.5em 2em; /* LTR */
}
ol.task-list li.active {
  background: transparent url(images/task-list.png) no-repeat 3px 50%; /* LTR */
}
ol.task-list li.done {
  color: #393;
  background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%; /* LTR */
}
ol.task-list li.active {
  margin-right: 1em; /* LTR */
}

fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}

dl {
  margin: 0.5em 0 1em 1.5em; /* LTR */
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em; /* LTR */
}

img, a img {
  border: none;
}

table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #d3e7f4;
  color: #494949;
  font-weight: bold;
}

th a:link, th a:visited {
  color: #6f9dbd;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #edf5fa;
}

tr.even {
  background-color: #fff;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}

td.region, td.module, td.container, td.category {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #b4d7f0;
  background-color: #d4e7f3;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {
  border-top-width: 0;
}

span.form-required {
  color: #ffae00;
}

span.submitted, .description {
  font-size: 0.92em;
  color: #898989;
}

.description {
  line-height: 150%;
  margin-bottom: 0.75em;
  color: #898989;
}

.messages, .preview {
  margin: .75em 0 .75em;
  padding: .5em 1em;
}

.messages ul {
  margin: 0;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: 0.25em 0;
}

#center form {
  margin-bottom: 2em;
}

.form-button, .form-submit, input[type="button"] {
  height:28px;
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  
}

.form-submit:hover, input[type="button"]:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
}

.form-submit:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


#dblog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit {
  margin: 0;
}

.box {
  margin-bottom: 2.5em;
}

/**
 * Layout
 */
#header-region {
  min-height: 1em;
  background: #d2e6f3 url(images/bg-navigation.png) repeat-x 50% 100%;
}

#header-region .block {
  display: block;
  margin: 0 1em;
}

#header-region .block-region {
  display: block;
  margin: 0 0.5em 1em;
  padding: 0.5em;
  position: relative;
  top: 0.5em;
}

#header-region * {
  display: inline;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

/* Prevent the previous directive from showing the content of script elements in Mozilla browsers. */
#header-region script {
  display: none;
}

#header-region p, #header-region img {
  margin-top: 0.5em;
}

#header-region h2 {
  margin: 0 1em 0 0; /* LTR */
}

#header-region h3, #header-region label, #header-region li {
  margin: 0 1em;
  padding: 0;
  background: none;
}

#wrapper{
    width:1008px; 
    margin:0 auto; 
    background:#fff
}

#wrapper #container {
  margin: 0 auto;
  padding:0 0;
  max-width: 1270px;
  border-left:1px solid #CBCBCB;
}

#wrapper #container #header{ float:left; width:100%; height:auto; position:relative; z-index:40}
#wrapper #container #header h1 a{ float:left; line-height:83px !important; margin-left:18px; display:inline}
#wrapper #container #header h1 img{ padding-top:2px; padding-right:0 !important}
*:first-child+html #wrapper #container #header h1 a{ margin-left:10px}

#wrapper #container #header #logo-floater {
  position:relative;
  top:25px;
}

#header-region{display:none}

#wrapper #container #header h1 span {
  font-weight: bold;
}

#wrapper #container #header h1 img {
  padding-top: 14px;
  padding-right: 20px; /* LTR */
  float: left; /* LTR */
}

/* With 3 columns, require a minimum width of 1000px to ensure there is enough horizontal space. */
body.sidebars {
  min-width: 980px;
}
/* With 2 columns, require a minimum width of 800px. */
body.sidebar-left, body.sidebar-right {
  min-width: 780px;
}

/* So we move the #center container over the sidebars to compensate */
body.sidebar-left #center {
  margin-left: -210px;
}
body.sidebar-right #center {
  margin-right: -210px;
}
body.sidebars #center {
  margin: 0 -210px;
}

/* And add blanks left and right for the sidebars to fill */
body.sidebar-left #squeeze {
  margin-left: 210px;
}
body.sidebars #squeeze {
  margin: 0 210px;
}

/* We ensure the sidebars are still clickable using z-index */
#wrapper #container .sidebar {
  /*margin: 60px 0 5em; */
  width: 210px;
  float: left;
  z-index: 2;
  position: relative;
}

#wrapper #container .sidebar .block {
  margin: 0 0 1.5em 0;
}

#sidebar-left .block {
  padding: 0 15px 0 0px;
}

#sidebar-right .block {
  padding: 0 0px 0 15px;
}

#sidebar-left .block-region {
  margin: 0 15px 0 0px; /* LTR */
}

#sidebar-right .block-region {
  margin: 0 0px 0 15px; /* LTR */
}

.block-region {
  padding: 1em;
  background: transparent;
  border: 2px dashed #b4d7f0;
  text-align: center;
  font-size: 1.3em;
}

/* Now we add the backgrounds for the main content shading */
#wrapper #container #center #squeeze {
  background:none;
  position: relative;
  
}

#wrapper #container #center .right-corner {
  background:none;left:0;
  position: relative;
  
}

#wrapper #container .seeAllPages #center .right-corner {
    border-left: 1px solid #DEDEDE;
}


#wrapper #container #footer {
  float: none;
  clear: both;
  text-align: center;
  margin: 4em 0 -3em;
  color: #898989;
}

#wrapper #container .breadcrumb{ 
	word-spacing:-2px; 
	position:relative; 
	left:0; display:block; 
	float: left; 
	top:5px; 
	padding:6px 10px; 
	color:#666; 
	font:normal 11px Verdana,arial,sans-serif;
    z-index: 3;
}


body.sidebar-left #footer {
  margin-left: -210px;
}

body.sidebar-right #footer {
  margin-right: -210px;
}

body.sidebars #footer {
  margin: 0 -210px;
}

/**
 * Header
 */
#wrapper #container #header h1 a:hover {
  text-decoration: none;
}

#wrapper #container .breadcrumb {
  font-size: 0.92em;width: 641px;
}

#wrapper #container .breadcrumb, #wrapper #container .breadcrumb a {
  color: #529ad6;
}

#mission {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

/**
 * Primary navigation
 */
ul.primary-links {
  margin: 0;
  padding: 0;
  float: right; /* LTR */
  position: relative;
  z-index: 4;
}

ul.primary-links li {
  margin: 0;
  padding: 0;
  float: left; /* LTR */
  background-image: none;
}

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited {
  display: block;
  margin: 0 1em;
  padding: .75em 0 0;
  color: #fff;
  background: transparent url(images/bg-navigation-item.png) no-repeat 50% 0;
}

ul.primary-links li a:hover, ul.primary-links li a.active {
  color: #fff;
  background: transparent url(images/bg-navigation-item-hover.png) no-repeat 50% 0;
}

/**
 * Secondary navigation
 */
ul.secondary-links {
  margin: 0;
  padding: 18px 0 0;
  float: right; /* LTR */
  clear: right; /* LTR */
  position: relative;
  z-index: 4;
}

ul.secondary-links li {
  margin: 0;
  padding: 0;
  float: left; /* LTR */
  background-image: none;
}

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited {
  display: block;
  margin: 0 1em;
  padding: .75em 0 0;
  color: #cde3f1;
  background: transparent;
}

ul.secondary-links li a:hover, ul.secondary-links li a.active {
  color: #cde3f1;
  background: transparent;
}

/**
 * Local tasks
 */
ul.primary, ul.primary li, ul.secondary, ul.secondary li {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

#tabs-wrapper {
  margin: 0 -26px 1em;
  padding: 0 26px;
  border-bottom: 1px solid #e9eff3;
  position: relative;
}
ul.primary {
  padding: 0.5em 0 10px;
  float: left; /* LTR */
}
ul.secondary {
  clear: both;
  text-align: left; /* LTR */
  border-bottom: 1px solid #e9eff3;
  margin: -0.2em -26px 1em;
  padding: 0 26px 0.6em;
}
h2.with-tabs {
  float: left; /* LTR */
  margin: 0 2em 0 0; /* LTR */
  padding: 0;
}

ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited,
ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  border: 0;
  background: transparent;
  padding: 4px 1em;
  margin: 0 0 0 1px; /* LTR */
  height: auto;
  text-decoration: none;
  position: relative;
  top: -1px;
  display: inline-block;
}
ul.primary li.active a, ul.primary li.active a:link, ul.primary li.active a:visited, ul.primary li a:hover,
ul.secondary li.active a, ul.secondary li.active a:link, ul.secondary li.active a:visited, ul.secondary li a:hover {
  background: url(images/bg-tab.png) repeat-x 0 50%;
  color: #fff;
}
ul.primary li.active a,
ul.secondary li.active a {
  font-weight: bold;
}

/**
 * Nodes & comments
 */
.node {
  border-bottom: 1px solid #e9eff3;
  margin: 0 -26px 1.5em;
  padding: 1.5em 26px;
}

ul.links li, ul.inline li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0; /* LTR */
  padding-right: 1em; /* LTR */
  background-image: none;
}

.node .links, .comment .links {
  text-align: left; /* LTR */
}

.node .links ul.links li, .comment .links ul.links li {}
.terms ul.links li {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 1em;
}

.picture, .comment .submitted {
  float: right; /* LTR */
  clear: right; /* LTR */
  padding-left: 1em; /* LTR */
}

.new {
  color: #ffae00;
  font-size: 0.92em;
  font-weight: bold;
  float: right; /* LTR */
}

.terms {
  float: right; /* LTR */
}

.preview .node, .preview .comment, .sticky {
  margin: 0;
  padding: 0.5em 0;
  border: 0;
  background: 0;
}

.sticky {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

#comments {
  position: relative;
  top: -1px;
 /* border-bottom: 1px solid #e9eff3;*/
  margin: -1.5em -25px 0;
  padding: 0 25px;
}

#comments h2.comments {
  margin: 0 -25px;
  padding: .5em 25px;
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
}

 /* JIM SIMMONS  23 Jan 2012*/
.comment {
  margin: 0 -25px;
  padding: 1.5em 25px 1.5em;
  /*border-top: 1px solid #e9eff3;*/
}

.indented {
  margin-left: 25px; /* LTR */
}

.comment h3 a.active {
  color: #494949;
}

.node .content, .comment .content {
  margin: 0.6em 0;
}

/**
 * Aggregator.module
 */
#aggregator {
  margin-top: 1em;
}
#aggregator .feed-item-title {
  font-size: 160%;
  line-height: 130%;
}
#aggregator .feed-item {
  border-bottom: 1px solid #e9eff3;
  margin: -1.5em -31px 1.75em;
  padding: 1.5em 31px;
}
#aggregator .feed-item-categories {
  font-size: 0.92em;
}
#aggregator .feed-item-meta {
  font-size: 0.92em;
  color: #898989;
}

/**
 * Color.module
 */
#palette .form-item {
  border: 1px solid #fff;
}
#palette .item-selected {
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
  border: 1px solid #d9eaf5;
}

/**
 * Menu.module
 */
tr.menu-disabled {
  opacity: 0.5;
}
tr.odd td.menu-disabled {
  background-color: #edf5fa;
}
tr.even td.menu-disabled {
  background-color: #fff;
}

/**
 * Poll.module
 */
.poll .bar {
  background: #fff url(images/bg-bar-white.png) repeat-x 0 0;
  border: solid #f0f0f0;
  border-width: 0 1px 1px;
}

.poll .bar .foreground {
  background: #71a7cc url(images/bg-bar.png) repeat-x 0 100%;
}

.poll .percent {
  font-size: .9em;
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Collapsible fieldsets
 */
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #d9eaf5;
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
}

/* Targets IE 7. Fixes background image in field sets. */
*:first-child+html fieldset {
  padding: 0 1em 1em;
  background-position: 0 .75em;
  background-color: transparent;
}

*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 1em;
}

fieldset legend {
  /* Fix disappearing legend in FFox */
  display: block;
}

*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 0;
  padding-bottom: .6em;
}

html.js fieldset.collapsible legend a {
  padding-left: 2em; /* LTR */
  background: url(images/menu-expanded.gif) no-repeat 0% 50%; /* LTR */
}

html.js fieldset.collapsed legend a {
  background: url(images/menu-collapsed.gif) no-repeat 0% 50%; /* LTR */
}

/**
 * Syndication icons and block
 */
#block-node-0 h2 {
  float: left; /* LTR */
  padding-right: 20px; /* LTR */
}

#block-node-0 img, .feed-icon {
  float: right; /* LTR */
  padding-top: 4px;
}

#block-node-0 .content {
  clear: right; /* LTR */
}

/**
 * Login Block
 */
#user-login-form {
  text-align: center;
}
#user-login-form ul {
  text-align: left; /* LTR */
}

/**
 * User profiles.
 */
.profile {
  margin-top: 1.5em;
}
.profile h3 {
  border-bottom: 0;
  margin-bottom: 1em;
}
.profile dl {
  margin: 0;
}
.profile dt {
  font-weight: normal;
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.45em;
}
.profile dd {
  margin-bottom: 1.6em;
}

/**
 * Admin Styles
 */
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
  margin: 0;
  padding: 0;
}

div.admin .left {
  float: left; /* LTR */
  width: 48%;
}
div.admin .right {
  float: right; /* LTR */
  width: 48%;
}

div.admin-panel {
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}
div.admin-panel dd {
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

table.system-status-report th {
  border-color: #d3e7f4;
}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
  background: #027ac6;
  color: #fff;
}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
  color: #d3e7f4;
}

tr.taxonomy-term-preview {
  opacity: 0.5;
}

tr.taxonomy-term-divider-top {
  border-bottom: none;
}

tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #CCC;
}

/**
 * CSS support
 */

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/

/**
 * Generic elements.
 */
.messages {
  background-color: #fff;
  border: 1px solid #b8d3e5;
}

.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}

div.status {
  color: #33a333;
  border-color: #c7f2c8;
}

div.error, tr.error {
  color: #a30000;
  background-color: #FFCCCC;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #363636;
}

/**
 * dblog.module
 */
tr.dblog-user {
  background-color: #fcf9e5;
}

tr.dblog-user td.active {
  background-color: #fbf5cf;
}

tr.dblog-content {
  background-color: #fefefe;
}

tr.dblog-content td.active {
  background-color: #f5f5f5;
}

tr.dblog-warning {
  background-color: #fdf5e6;
}

tr.dblog-warning td.active {
  background-color: #fdf2de;
}

tr.dblog-error {
  background-color: #fbe4e4;
}

tr.dblog-error td.active {
  background-color: #fbdbdb;
}
tr.dblog-page-not-found, tr.dblog-access-denied {
  background: #d7ffd7;
}
tr.dblog-page-not-found td.active, tr.dblog-access-denied td.active {
  background: #c7eec7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}

.group-title-group legend {
	display:none;
}

#religion {
  margin-bottom: 15px;
}

#religion_left {
    
    float: left;
    margin-bottom: 10px;    
    padding-bottom: 9px;
    
}
.toll-bottom{
   background: url("images/religionbg.gif") repeat-x scroll center bottom transparent;
    display: block;
    line-height: 16px;
    overflow: hidden;
    padding-top: 10px;
    margin-left: -8px;
    padding-left: 10px;clear: both;
    
}
.toll-bottom .addthis_default_style{padding: 0!important;}

#religion_left a.readmoreiconred{
  color: #395998;
  font-weight: bold;
  text-decoration: none;
  padding-right: 24px;padding-top: 3px;
  background: url('images/readmoreiconred.gif') no-repeat right;
  height: 16px;
  float: left;
}

#religion_right {
  width: 300px;
  float: right;
  margin-top: 0px;
}


#block-block-20 h1.religion a {color: #000;}

#religion_right .blueBX .midDV {
  padding-top: 3px;
}

.node_topics img.topic {
  float: left;
  margin: 4px 12px 12px 0;
}

.node_topics #religion_left img.topic {
	margin-top: 11px; margin-bottom: 10px;
}

.node_topics{
    color: #000;
    font: 12px/18px Arial,Helvetica,sans-serif;
}

.node_topics img{
	margin:5px;	
}

.node_topics img{
	margin:5px;	
}

.node_topics .blueBX .midDV .rhtCont a.readMore {
    color: #203A7B;
}

.topic_node_form .hierarchical-select-wrapper-wrapper label {
	margin-right:5px;
}

/******style*******/
.contentPage .topic_node_form .hierarchical-select .form-submit {
    bottom: 1px;
    left: 260px;
    position: absolute;
}

.contentPage .topic_node_form .hierarchical-select-wrapper-wrapper label {
    float: left;
    font-weight: bold;
    margin-top: 5px;
}
/******end style*******/

/* Added by Jim Simmons on 8 Oct 2011 */
.register-box #edit-field-iam-value {
width:163px;
}

/* Added by Jim Simmons on 23 Oct 2011 */

ul.quicktabs-style-phylactere {
	display: none;
}

#wrapper #container #center {
	padding-top: 0;
	background: none repeat-y scroll 100% 0 transparent;
	float: left;
	width: 100%;
}

#wrapper #container #center:after {
	content: ".";
	clear: both;
	line-height: 0;
	height: 0;
	visibility: hidden;
	display: block;
}

/** html #wrapper #container #center{zoom:1}*/
#wrapper #container #center .right-corner .left-corner {
	background: none;	
	position: relative;
	min-height: 400px;	
	left: 0;
}

#wrapper #container .right-corner .left-corner{
    margin: 0 0 0 0;
    padding: 0 0 10px;
}

.sidebars #wrapper #container .right-corner .left-corner{
  padding: 0 0 10px;
  margin: 0 0 0 10px;
  
}

.sidebars #center .main_content {
	padding-right:11px;
}

#wrapper #container .sidebar {
	margin-bottom: 0;
	padding-bottom: 10px;
	width: 144px;
	position: relative;
}

body.sidebar-left #center {
	margin-left: -155px;
}

body.sidebars #center {
	margin: 0 -304px 0 -155px;
}

body.sidebars #squeeze {
	margin: 0 0 0 156px;
	width:516px;
}

body.sidebars #wrapper #container #sidebar-right {
	margin-right: 0;
	width: 304px;
}

body.sidebar-right #wrapper #container #sidebar-right.sidebar {
	width: 304px;
	margin-top: 0;
	padding-bottom: 10px;
}

body.sidebar-right #center{ margin-right:-315px; border-top:0; background:url("images/body-bkg.png") repeat-y scroll 100% 0 transparent; }
body.sidebar-right #squeeze { margin-right:332px}
body.sidebar-left #squeeze{margin-left:157px;}

body.sidebars #wrapper #container #center .right-corner ul.secondary{ margin:0}
ul.secondary{ margin-left:0; margin-right:0}
body.sidebars #container.sidebar{ width:146px; margin-left:10px}

.contentLeft{float: left; width: 50%}
.contentLeft .innr{ padding-right:5px}
.contentRight{float: right;  width: 50%}
html>body .contentRight{width:49.9%}
.contentRight .innr{ padding-left:5px}
html.js .homePopular  a.views-throbbing, html.js .homePopular  span.views-throbbing { padding-right:0}

.blueBX{padding-bottom:10px !important}

.left-corner .node{ border-bottom:none}

.notHomePage .right-corner{
  border-bottom: 4px solid #87ADDC;
    border-left: 1px solid #DEDEDE;
    margin-bottom: -4px;
}

.notHomePage .right-corner .left-corner{
  border-right: 1px solid #D9D9D9;
}

.terms{ float:none}

#tabs-wrapper{ padding:0; margin:0; border-bottom:none}
#tabs-wrapper h2{ display:none}
.bookHeading{margin:0 0 0 0;}


.bookHeadingInr ul.secondary{overflow: hidden;/*position: absolute;*/ margin-top:0; padding-top:2px; border-bottom:none}

#wrapper #container .sidebar .block{ margin-bottom:0; margin-top:12px}
#wrapper #container #sidebar-left .block{ margin-top:0; padding-right:0; padding-left:0}
#sidebar-right .block{padding-left:0}
body.sidebar-right #wrapper #container .detailPageCenter  #sidebar-right.sidebar{width:265px}
#wrapper #container .detailPageCenter #center{margin-right:-275px;}
body.sidebar-right .detailPageCenter #squeeze {margin-right:275px;}

.inrContainer{ 
	clear:both; 
	border-right: 1px solid #CCCCCC;
	position:relative;
	padding-left: 11px;
}

.bgContainer{ 
	background:url("imgHm/breadbg.gif") repeat-x scroll center top transparent; 
	height:43px;border-right: 1px solid #CBCBCB; 
	border-left:1px solid #CBCBCB; 
	margin-left:11px; 
	border-bottom:1px solid #CBCBCB 
}

*:first-child+html .inrContainer{display:inline-block}
.inrContainer:after{content:"."; clear:both; line-height:0; height:0; font-size:0; visibility:hidden; display:block; }
/** html .inrContainer{zoom:1}*/
html>body #discipline-nav1 li ul li{ float:left; width:100%; padding:4px 0 4px 4px}
#discipline-nav1 li ul a {background:none repeat scroll 0 0 transparent;color:#333333;font:12px/12px "Trebuchet MS",Verdana,sans-serif;padding:0; display: block;}
/*Common CSS---------*/

.clr{clear:both;font-size:0;height:0;line-height:0;}
.node{ margin:0; padding:0}
.block .content{ margin:0}
#center form{ margin-bottom:0}
.clearDiv{height: 0;clear: both; line-height:0; font-size:0;}

.floatleft{ float:left; margin-right:15px}
.floatleft2{ float:left}
.padBot15{ padding-bottom:15px}
.pdfield2{ margin-top:15px}
.discrips{ padding-left:10px; padding-right:10px}
.padTop10{ padding-top:10px}
.floatright{float:right; }
.left-corner .node{ margin:0; padding:0}

/*Main Menu CSS starts-----------------------------------------*/
#discipline-nav1 {background:url("images/disc1-nav-bkg.png") repeat-x scroll 0 0 transparent;height:34px; float:right; clear: both;}
#header-content {height:58px;}
.header-content {height:auto !important;padding:5px 0;}
.header-content img {margin-left:10px;}
#discipline-nav1 ul {height:34px;list-style:none outside none;margin:0;padding:0;position:relative;width:100%;z-index:99;}
#discipline-nav1 li.disc {
     background: none repeat scroll 0 0 transparent;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 4px 4px 0;
    float: left;
    font: 14px Georgia,Times,serif;
    height: 22px;
    margin: 1px 0 0;
    padding: 5px 0 0 0;
    position: relative;
    z-index: 2;
}
#discipline-nav1 .content{
  background:url("images/disc1-nav-r.png") no-repeat scroll 100% 0 transparent; padding:0 2px 0 56px;
}
#discipline-nav1 a {background:url("images/disc1-nav-sep.png") no-repeat scroll 100% 3px transparent;color:#333333;padding:0 14px 0 5px;text-decoration:none;}
#discipline-nav1 li.active {border-color:#7C9EC9; background: #efefef;}
#discipline-nav1 div.discddl {border:4px solid #7C9EC9;background:#efefef; display:none;left:-4px;padding:0;position:absolute;top:27px;z-index:100; width: 420px;}
#discipline-nav1 .discddl .left {float:left;width:260px;border-right:1px dotted #CCCCCC; margin: 10px 0; }
#discipline-nav1 .discddl .right {float:left;width:160px; margin-left: -1px; padding: 10px 0;}
#discipline-nav1 h2 {margin:0;padding:0;text-align:center;}
#discipline-nav1 li ul {background:none repeat scroll 0 0 transparent;float:left;height:auto;padding:4px 0 0 10px;width:113px;}
#discipline-nav1 li ul li {background:none repeat scroll 0 0 transparent;float:none;height:auto;margin:0;padding:0 0 4px 4px;}
#discipline-nav1 .discddl .right a{
  font-weight: bold;
}
#discipline-nav1 .discddl .right ul{
  width: 136px;
}
#discipline-nav1 li span.head{
  padding: 5px;
}
#discipline-nav1 li.active span.head{
   border-bottom: 4px solid #efefef; background:#efefef;  position: relative; z-index: 99999;
   }

/*
#discipline-nav1 ul.first {border-right:1px dotted #CCCCCC;}
#discipline-nav1 ul.last {border-left:1px dotted #CCCCCC;margin-left:-1px;}
*/
#discipline-nav1 li ul li:hover{background:#333333 !important;}	
#discipline-nav1 li ul li:hover a{color:#fff}	
/*Main Menu CSS ends--------------------------------------------*/

/*MY profile and Invite your friends links starts--------------------*/
#block-block-11{ 
  clear:both;

}


#navigation{
	background:url("images/gb-menu.png") repeat-x scroll 0 0 transparent;
	clear:both;
    height:35px;

}

#navigation ul {
  list-style:none outside none;
  margin:0;
  padding:0;
  width:100%;
}

/* ----- Nice menu -----*/
#nice-menu-0 a {
    color: #FFFFFF; font-weight: bold;
    float: left;
    height: 24px;
    padding: 10px 20px 0;
    
}

#nice-menu-0 .first a{
    padding-left: 20px;
} 
#nice-menu-0 li li.first a{
    padding-left: 7px;
}  
#nice-menu-0 .menuparent  .first a{
    padding-left: 20px;
} 
.navigation a{
text-decoration:none;
}
.navigation ul#nice-menu-0 ul li {
  width: auto;
}
.navigation ul#nice-menu-0 li.menuparent ul{
    height: auto;
    margin-left: 3px;
    margin-top: 12px;
    overflow: hidden;
    width: 170px;
    border: none;

}
.navigation ul#nice-menu-0 .menuparent li {    
  background: #2f4b78;
  min-width: 115px;
  color: #FFFFFF;
}

ul.nice-menu-down li.menuparent:hover{
    background: none;
}
.navigation ul#nice-menu-0 li.menuparent.over a{
    background-image: none;
}
.navigation ul#nice-menu-0 li {
   background: url("images/navi-sep.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    height: 32px;
}

.navigation ul#nice-menu-0 li.last a{
    background: url("images/bar-a-arrow.png") no-repeat scroll 100% 0 transparent;
}
#nice-menu-0 a:hover, #nice-menu-0 a.hover, #nice-menu-0 a.active,
.navigation ul#nice-menu-0 li.menuparent.over {
    background: url("images/navi-sep.png") repeat-x scroll -198px 0 transparent;
}

.navigation ul#nice-menu-0 li.last a:hover,
.navigation ul#nice-menu-0 li.last a.active {
    background: url("images/navi-sep.png") repeat-x scroll -198px 0 transparent;

}
#nice-menu-0 .menuparent li a:hover, #nice-menu-0 .menuparent li a.hover, #nice-menu-0 .menuparent li a.active{
  background: #406696!important;color: #FFFFFF;
}
ul.nice-menu-down li {
    border: medium none;
    
}
#nice-menu-0 .menuparent li a{
    padding-right: 0;width:150px;
    background: #2f4b78;
}
ul.nice-menu-down ul {
    left: -3px;
}
ul.nice-menu li, ul.nice-menu-down li.menuparent {background-color: transparent;}
.navigation ul.nice-menu li ul li {
 background: url(images/nav-sep.png) no-repeat scroll right center transparent;
 color: #FFFFFF;
}
.navigation ul#nice-menu-0 .menuparent li a.active, .navigation ul#nice-menu-0 .menuparent li a.hover, .navigation ul#nice-menu-0 .menuparent li a:hover  {
  width:150px;
  
}


.tpNavImages {padding-left: 10px;}
/*MY profile and Invite your friends Ends--------------------*/

/*Search starts starts---------------------*/
.userheader{
	background:url("images/bg-header-user.png") repeat-x 0 bottom; 
	border:1px solid #CBCBCB; border-bottom:none ;
    height: 85px;margin-left: 11px;
    
}
.block-search{ float:left}
.block-search .container-inline label{ font-size:0; height:0;display:none}
.block-search .container-inline { padding:9px 11px 4px 0; position:absolute; left:10px}
.block-search .container-inline .form-item{ margin:1px 7px 0 0 !important;float:left;}
.block-search .container-inline .form-text{border:1px solid #b3b3b3;padding:3px 0;font:11px Verdana,arial,sans-serif; width:235px; height: 20px;}

.block-search .container-inline .form-submit{
	background:url("images/bt-search.png") no-repeat scroll 0 0 transparent;border:medium none;cursor:pointer;font-size:0;height:30px;margin:0;padding:0;text-indent:-2000px;width:91px; float:left; margin-left:0;border-radius: 0;
}
.block-search .container-inline .form-submit:hover{background-position: 0 100%;}
/*Search starts ends---------------------*/

/*Header's Signin, Join, links Starts here-------------------------*/
#header .block-generalfeatures .loginLink{ padding:0 !important}
#header .block-generalfeatures{ position:absolute; right:6px; top:44px; padding-top:0px; }
#block-search-0{  position: absolute;
    top: 36px;
    width: 365px;
}
#ajax_register_block_anonymous br, #ajax_register_block_authenticated br{display:none}

#ajax_register_block_anonymous, 
#ajax_register_block_authenticated{float:right; padding-right:20px;margin:12px 230px 0 0;}

#ajax_register_block_anonymous p,
#ajax_register_block_anonymous p span,
#ajax_register_block_anonymous p span s,
#ajax_register_block_authenticated p,
#ajax_register_block_authenticated p span,
#ajax_register_block_authenticated p span a{color:#333333;font:normal 12px Verdana,Geneva,sans-serif; text-transform:capitalize; margin:0;}

#ajax_register_block_anonymous p,
#ajax_register_block_authenticated p{ float:left;padding:0 20px 0 0; line-height:20px; height:20px}

#ajax_register_block_authenticated a.inboxLink, #ajax_register_block_authenticated a.logoutLink, a.joinLink, #ajax_register_block_anonymous a.loginLink{display:inline;font:10px Verdana,arial,sans-serif; margin:0px 10px 0 3px; color:#333; text-transform:uppercase}

a.inboxLink{background:url(images/inbox-icon.gif) no-repeat scroll 0 4px;padding:4px 0 2px 25px; float:left }
a.loginLink, a.logoutLink{background:url(images/usr-icon-login.png) no-repeat 0 -1px;padding:4px 0 2px 19px; float:left}
a.joinLink{background:url(images/usr-icon-join.png) 0 -2px no-repeat; font-weight:bold !important;padding:4px 0 2px 26px; float:left}

#ajax_register_block_authenticated a:hover{ text-decoration:underline}
/*Header's Signin, Join, links Ends here-------------------------*/

/*Upload button starts----*/
#content-form-upload .uploadLink, #content-form-upload .form-submit { background:url(images/bt-uploads.png) no-repeat 0 0;  width:97px; height:32px;cursor:pointer;font-size:0; border:none;text-indent:-2000px; float:left; border-radius: 0;}
#content-form-upload .uploadLink :hover, #content-form-upload .form-submit:hover{ background-position: 0 -31px;}


/*FOOTER CSS Starts+*/
body.sidebars #footer { margin:0 auto}
body.sidebar-left #footer{ margin-left:0}
body.sidebar-right #footer{ margin-right:0}
#footer {clear:both;border-left:1px solid #CCC; border-right:1px solid #CCC; border-bottom:1px solid #CCC; border-top:medium none; padding:0; text-align:left !important;}
#footer .region-footer {
    border-top:6px solid #7BA5CF; 
    position: relative;
 
}

#footer .region-footer #block-block-13 .content {
    padding:7px 10px 0 10px;
}
.ftrLbl { float:left; clear:both; width:85px; font:bold 11px/19px Arial, Helvetica, sans-serif;color:#000;}
.ftrLbl a{ color:#333}
.ftrLnks { margin-left:85px; font-size:11px; color:#3F3F3F; line-height:19px; }
.colyRt {     background: none repeat scroll 0 0 #162233;clear: both;color: #99CCFF;line-height: 17px;margin: 0 -10px;overflow: hidden;padding: 20px 15px 10px;}
.colyRt span.c10 { font-size:11px;color:#ffcc66}
.colyRt span a {color:#99ccff}
#footer ul {display:inline;list-style:none outside none;margin:0;padding:0; float:left}
#footer li {border-left:1px solid #333333;display:inline;padding:0 0 0 5px; background:none; }
.ftrLnks p{ margin:0}
/*FOOTER CSS Ends+*/

/*CSS FOR LHS NAVIGSTION STARTS*/
#discipline-nav2{float: left;width: 204px;}

#discipline-nav3, .LHSmenu{
	float: left;
	background: #EEEEEE; /* url(images/disc-nav-bkg.png) 0 0 repeat-y*/
	border:solid 1px #D9D9D9;  
	margin:0;
    width: 100%;
  }
#discipline-nav3, .LHSmenu  {
    border-bottom:solid 4px #87addc
}

#right_bar{float: left;width: 315px;margin-left:0px;}

#discipline-nav2 h2, #discipline-nav3 h2, .LHSmenu .title {margin: 0;padding: 13px 10px 10px 11px; font:bold 11px Arial, Helvetica, sans-serif;color:#fff;text-transform:uppercase;background-color:#4C77B1;border-bottom:solid 1px #FFFFFF;}

#discipline-nav3 h2 a {
	color:#fff;
}

#discipline-nav3 h2 a:hover {
	color:#000;
}

#discipline-nav2 ul, #discipline-nav3 ul, .LHSmenu ul{margin: 0;padding:0 5px 25px 10px;line-height: 12px;
}
#discipline-nav2 ul li, #discipline-nav3 ul li, .LHSmenu ul li{padding:11px 0 0 0;margin: 0;background:transparent none repeat scroll 0 0;}
#discipline-nav2 ul li.active a, #discipline-nav3 ul li.active a,  .LHSmenu ul li.active a{font-weight: bold;color: #000;}
#discipline-nav2 ul a, #discipline-nav3 ul a , .LHSmenu ul a{font: 13px Arial, helvetica, sans-serif;color: #395998;font-weight: bold;}
#discipline-nav2 ul a:hover, #discipline-nav3 ul a:hover, .LHSmenu ul a:hover{color: #000;}
#discipline-nav2 #discipline-controls, #discipline-nav3 #discipline-controls {background: url(images/disc-nav-b.png) 0 100% no-repeat;padding-left: 8px;  padding-top: 6px;}
#discipline-nav2 #discipline-controls li, #discipline-nav3 #discipline-controls li { padding: 0 0 4px 12px;background: url(images/disc-nav-add.png) 0 25% no-repeat;}
#discipline-nav2 #discipline-controls a, #discipline-nav3 #discipline-controls a {font: bold 11px Arial, helvetica, sans-serif;color: #415696;text-transform: uppercase;}

.LHSmenu .title{ margin-top:24px}


h1.pagehead { 
	font: bold 28px/32px Arial,"Helvetica Neue",Helvetica,sans-serif;
	color:#000;
	padding: 10px 0;
}

.node_topics h1.pagehead {
	padding-top: 3px;
}

h1.pagehead .span2{ 
	font-weight: normal;
}

.green_bar {
    background-color: #87ADDC;
    height:4px;
	margin:10px -11px 20px;
}

.blue_bar {
    background-color: #87ADDC;
    height:4px;
	margin:10px 0 20px;
}

.style_social_top {
    float: right;
    padding: 14px 0 0;
}

.style_social_top span.recommend{
	color: #333333;
    font-weight: bold;
    padding-top: 3px;
    width: 100px;
	float: left; 
}

.style_social_top .twitter { 
	float: left; 
	width: 72px;
}

.style_social_top .facebook { 
	float: left; 
	width: 96px;
}

.style_social_top .plusone { 
	float: left; 
	width: 64px;
    z-index: 9;
    position: relative;
}

.style_social_topic {
    float: right; 
	padding-bottom: 3px;
}

.social_link_widget .twitter { 
	float: left; 
	width: 94px;
}

.social_link_widget .facebook { 
	float: left; 
	width: 96px;
}

.social_link_widget .plusone { 
	float: left; 
	width: 76px;
}


/*socailin content*/
.style_social_content_detail .twitter { 
	width: 94px;
}

/* Added by Jim Simmons on 20 October */
.views-field-phpcode .field-content .style_social_content_detail .twitter { 
	margin-left:16px;
}

.style_social_content_detail .facebook { 
	width: 76px;
}

.style_social_content_detail .plusone { 
	width: 76px;
}

.style_social_content_detail div{
  float:right
}

/*manuscripts*/
.uploadImgDetail.manuscripts a{
    background: url("images/upload_manuscript.png") no-repeat scroll 0 0 transparent;
     width: 187px;
}
.uploadImgDetail.manuscripts a:hover{
    background-position: -187px 0;
}
/*article*/
.uploadImgDetail.article a{
    background: url("images/upload_article.png") no-repeat scroll 0 0 transparent;
    width: 155px;
}
.uploadImgDetail.article a:hover{
    background-position: -155px  0;
}
/*dissertation*/
.uploadImgDetail.dissertation a{
    background: url("images/upload_dessertation.png") no-repeat scroll 0 0 transparent;
    width: 193px;
}
.uploadImgDetail.dissertation a:hover{
    background-position: -193px  0;
}
/*bibliographies*/
.uploadImgDetail.bibliographies a{
    background: url("images/upload_bibliography.png") no-repeat scroll 0 0 transparent;
    width: 197px;
}
.uploadImgDetail.bibliographies a:hover{
    background-position: -197px  0;
}
/*aca_book, book_chapter, book_review*/
.uploadImgDetail.aca_book a,
.uploadImgDetail.book a{
    background: url("images/upload-book.png") no-repeat scroll 0 0 transparent;
    width: 149px;
}
.uploadImgDetail.aca_book a:hover,
.uploadImgDetail.book a:hover{
    background-position: -149px  0;
}

/*aca_book, book_chapter, book_review*/

.uploadImgDetail.book_chapter a{
    background: url("images/upload-book-chapter.png") no-repeat scroll 0 0 transparent;
    width: 205px;
}

.uploadImgDetail.book_chapter a:hover{
    background-position: -205px  0;
}

/* book_review*/

.uploadImgDetail.book_review a{
    background: url("images/upload-book-review.png") no-repeat scroll 0 0 transparent;
    width: 201px;
}

.uploadImgDetail.book_review a:hover{
    background-position: -201px  0;
}

/*audio*/
.uploadImgDetail.audio a{
    background: url("images/upload_audio.png") no-repeat scroll 0 0 transparent;
    width: 150px;
}
.uploadImgDetail.audio a:hover{
    background-position: -150px  0;
}

/*images*/
.uploadImgDetail.images a, .uploadImgDetail.image a{
    background: url("images/upload_images.png") no-repeat scroll 0 0 transparent;
    width: 150px;
}
.uploadImgDetail.images a:hover, .uploadImgDetail.image a:hover{
    background-position: -150px  0;
}
/*syllabus*/
.uploadImgDetail.syllabus a{
    background: url("images/upload_syllabus.png") no-repeat scroll 0 0 transparent;
    width: 166px;
}
.uploadImgDetail.syllabus a:hover{
    background-position: -166px  0;
}


/*Topic*/
.imageRhsFirstblock.backtohome{
    padding: 10px 0 5px 10px;
}
.backtohome span{
    font-weight: bold;
    color:#333333
}
.backtohome a.back {
     background: url("images/backto-arrow.png") no-repeat scroll 100% 0 transparent;
    color: #3B5998;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 3px;
    padding-right: 24px;
}
.node.node_topics .category{
    padding-top: 10px;
    text-transform: uppercase;
}

.contentPage #edit-btn-search-book,
.contentPage .tagKeywords .add-tag,
.contentPage  .form-button-cancel,
.btnDiv .deleteBtn,
.contentPage .form-submit{
    border: none;
    text-indent: -9999px;
    cursor: pointer;
}
.txtAreaBtn .btnDiv {
    line-height: 28px;
}
.contentPage #edit-btn-search-book{
    background: url(images/pagesearch.png) no-repeat 0 0;
    width: 72px;
    height: 26px;
    text-indent: -9999px;
}

.contentPage #edit-btn-search-book:hover{
    background-position: -72px 0;
    
}
.contentPage .tagKeywords .add-tag{
     background: url(images/page-add.png) no-repeat 0 0;     
     width: 66px;
     height: 26px;
     margin-left: 13px;
	 margin-top: -3px;
}
.contentPage .tagKeywords .add-tag:hover{
     background-position: -65px  0;
}
.contentPage .form-submit{
    background: url(images/page-submit.png) no-repeat 0 0;
    width: 73px;
    height: 26px;
}
.contentPage .form-submit:hover{
    background: url(images/page-submit.png) no-repeat -74px 0;
}
/*delete*/
.contentPage #edit-delete{
    background: url(images/page-delete.png) no-repeat 0 0;
    width: 72px;
    height: 26px;
}

.contentPage #edit-delete:hover{
    background: url(images/page-delete.png) no-repeat -72px 0;
}

.contentPage  .form-button-cancel, .btnDiv .deleteBtn{
   background: url("images/page-cancel.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: inline-block;
    height: 18px;
    text-indent: -9999px;
    width: 57px;
}
/*page-remove*/

.contentPage .group-upload-image #edit-field-image-upload-0-filefield-remove,
.contentPage .group-upload-image #edit-field-image-thumbnail-0-filefield-remove{
    background: url(images/page-remove.png) no-repeat 0 0;
    width: 81px;
    height: 26px;
}

.contentPage .group-upload-image #edit-field-image-upload-0-filefield-remove:hover,
.contentPage .group-upload-image #edit-field-image-thumbnail-0-filefield-remove:hover{
    background: url(images/page-remove.png) no-repeat -81px 0;
}

.contentPage  .form-button-cancel:hover, .btnDiv .deleteBtn:hover{
    background-position: -76px 0;
}
.video_style_page .userReviews .discipValue,
.course-homepage-final .userReviews .discipValue{
    float: left; 
}
#sidebar-right .view-Video .userReviews .discipValue{
    float: left; padding-right: 10px;
}

.time_link {
  font-size: 11px;
} 
.time_link .inline1{
    float: left;
    padding: 3px!important;
}

.imageRhsFirstblock a.version{
    background: url("images/arrow-right.png") no-repeat scroll right 1px;padding-right: 16px;
}



.rowBlock.last{
    border-bottom: none;
}

.imageRhsFirstblock .update a{
    font-size: 12px;
    font-weight: normal;
}

.node.full-group{
    padding:10px 0
}
.og_group .right span, .direc-group .right span{
    color: #4c77b1;
}

.content.ogb h2{
    color: #000000;
}
.emImages2 .inner-image{
    background: #000;
    width: 100%;
}

#node-form .form-text, #node-form .form-select{
  margin: 1px 0;
}

/*Course  lectures*/
.course_lecture .courseHeadingInr{
    background: url(images/course-bkg.png) repeat scroll 0 0 #15342E;
    height: 200px;
}
.course_lecture .courseHeadingInr .left{
    float: left;
    padding: 20px 20px 0 0;
    width: 220px;
	background: url("images/courses.png") no-repeat scroll 0 0 transparent;
    display: block;
	height: 75px;
}
.course_lecture .courseHeadingInr .left img{
    float: right; padding: 4px;
    border: 1px solid #3e6a7d;
    
}
.course_lecture .courseHeadingInr .right{
    float: left;
    padding: 20px;
    color: #fff;
    font-size: 14px;
}
.course_lecture .courseHeadingInr .right h3{
    font-weight: bold;
    color: #fff;
    font-size: 26px;
    margin-bottom: 10px;
}

.course_lecture .courseHeadingInr .right a{
    color: #6fa8dc;
}

.course_lecture .courseHeadingInr .right a:hover{
    color: #000;
}

.course_lecture .courseHeadingInr .right .price{
    font-weight: bold;
}
.course_lecture .courseHeadingInr .right a.course_enroll_now{
    background: url("images/course_enroll_now.png") repeat-x scroll 0 0 transparent;
    display: inline-block;
    float: left;
    height: 32px;
    text-indent: -9999px;
    width: 130px;
    margin-top: 2px;
    margin-right: 15px;
}
.course_lecture .courseHeadingInr .right a.course_enroll_now:hover{
    background-position:  0 -31px;
}
.course_lecture .courseHeadingInr .right a.follow-this-course{
    background: url("images/follow-this-course.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    float: left;
    height: 33px;
    text-indent: -9999px;
    width: 180px;
}
.course_lecture .courseHeadingInr .right a.follow-this-course:hover{
    background-position: 0 -33px;
}
.course_lecture .courseHeadingInr .right .enrol-botton{
     margin: 10px 0;
}
.lectures_inline{
    border-bottom: 1px solid #E6EAE2;
    border-top: 1px solid #E6EAE2;
}

.lectures_inline .facebook{
     width: 80px!important;
}
.lectures.citationInfo{
     color: #333;
}
.lectures.citationInfo .content{
    padding: 10px 10px 25px;
}
.lectures.citationInfo h2{
    color: #BF5925;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 7px;
}
.lectures.citationInfo .readMore{
    background: url("images/arrow-blue.png") no-repeat scroll right center transparent;
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 18px;
}

.lectures_embed{
    padding-top: 10px;
  /*  background: url("images/blue-bar.png") repeat-x scroll left center #eaf0f2;
    height: 36px;
    margin: 10px 0;
    padding: 2px;*/
}

.lectures_embed .source{
    float: right;
    margin-top: -25px;
    padding-right: 10px;
}
.lectures_embed .source label{
    color: #000000;
    font-weight: bold;
    padding-right: 5px;
}
.course-homepage-final .group-citation-information h2{
    height: 24px;
    margin-bottom: 8px;
}
.course-homepage-final .group-citation-information.highlight h2{
     background: url("images/white-expanded.png") no-repeat scroll 5px 50% transparent !important;
    display: block;
    height: 24px;
    padding: 5px 0 0 24px !important;
}

.course-homepage-final .videoBlocks{
   border-bottom: 1px solid #e6eae2;
    padding: 1px 0;
}
.course-homepage-final .videoBlocks .rowBlock{
    border: none;
}
.course-homepage-final .videoBlocks .even{
    background: #f3f3f3;
}
.course-homepage-final .fieldDiscip label.duration{
    color: #000; font-weight: bold;  padding-right: 5px;
}
.section-course-lecture .block-search .container-inline .form-submit {
    background: url("images/course-search.png") no-repeat scroll 0 0 transparent;
    width: 90px;
}
.section-course-lecture .block-search .container-inline .form-submit:hover {
    background-position: -90px 0;
}

.section-course-lecture #content-form-upload .form-submit {
    background: url("images/course-upload.png") no-repeat scroll 0 0 transparent;
    width: 91px;
}
.section-course-lecture #content-form-upload .form-submit:hover {
    background-position: -91px 0;
}
#block-block-15 .RHSDiscipline a {
    padding: 0 0 3px 20px;

}
#block-generalfeatures-2 .inner-content img{
    margin: 0 3px;
}
.inrContainer.homePage{padding-left: 0;}
.homePage .bgContainer {
    height:14px;
    border-right: none;
    border-bottom:none
}
.path-front_page #wrapper #container #center .right-corner {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    margin-left: 11px;
    padding: 0 10px;
}

.google_ads_on_right_block_region {
	border: 1px solid #E5E5E5;
	border-radius: 5px 5px 5px 5px;
	color: #000000;
	overflow: hidden;
	padding-left: 1px;
	padding-top: 14px;
	padding-bottom: 14px;
}

#comment-form .collapsible  {
 display:none;
}

#comment-form .wysiwyg-toggle-wrapper  {
 display:none;
}

#cke_edit-comment {
 height:180px;
}